/*Copyright Michele Marostica - michelemaro@gmail.com*/

/*********/
/* RESET */

body,html,div,blockquote,img,label,p,h1,h2,h3,h4,h5,h6,pre,ul,ol,li,dl,dt,dd,form,a,fieldset,input,th,td { margin:0; padding:0; border:0; outline:none; }
body { line-height:1.5; font-size:11px;font-family:"Lucida Grande", "Lucida Grande CY", Arial, sans-serif; }
h1,h2,h3,h4,h5,h6 { font-size:100%;   margin:0; font-weight:normal; }
ul,ol { list-style-position:outside; margin-left:10px; line-height:21px; }
a{ text-decoration:none; color:#000000; }
.clear{ clear:both;}

/***********/
/* GENERAL */

body{ 
    font-family: 'Playfair Display', serif;
    font-size: 13px;
    color: #ccc;
    background-color: #333333;
    z-index: 1;
}

.backBlack {
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/*Titolo selezione lingua*/
h1 {
    font-family: 'Cinzel Decorative', cursive;
    color: #cccc66;
}

/*Font per il menu*/
h2 {
    font-family: 'Cinzel', serif;
    color: #cccc66;
}

/*Font titoli paragrafi*/
h3 {
    font-family: 'Playfair Display SC', serif;
    color: #FFF;
    font-size: 19px;
    padding: 20px 20px;
}

/*Font paragrafi*/
p {
    font-family: 'Playfair Display', serif;
    font-size: 14px
}

a {
    color: #cccc66;
}

#outerContainer {
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

#bkgallery { z-index: -10;}
#bkgallery img{ position:absolute; top:0; left:0; display:none; z-index: -10;}
#bkgallery img#im1{ display:block;}
#bkgallery  {
    list-style: none;
}
#bkgallery  li {
    display: block;
}

.pageContent {
    z-index: 1;
    position: relative;
    width: 960px;
    min-height: 250px;
    left: 0;
    right: 0;
    margin: auto;
}

#legalNotes {
    z-index: 1;
    width: 960px;
    margin: auto;
    left: 0;
    right: 0;
    height: 50px;
    overflow: hidden;
    position: relative;
    font-size: 13px;
    text-align: center;
}
#legalNotes p {
    z-index: 1;
    color: #cccc66;
    
}

/* TOP MENU */
#topBar {
    display: block;
    width: 960px;
    height: 150px;
    overflow: hidden;
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 1;
}
    #topBar #backTitle{
        position: absolute;
        top: -10px;
        left: 0;
    }
    #topBar div#languageSelection {
        display: block;
        width: 124px;
        height: 20px;
        overflow: hidden;
        position: absolute;
        right: 15px;
        top: 15px;
    }
        #topBar div#languageSelection a img{
            height: 20px;
            width: 30px;
            margin-left: 5px;
        }

    #topBar div#logo {
        position: absolute;
        top: 20px;
        left: 20px;
        display: block;
        width: 240px;
        height: 100px;
    }
        #topBar div#logo h1{
            position: absolute;
            display: block;
            text-align: center;
        }
            #topBar div#logo h1#title1{
                top: 5px;
                left: 0;
                right: 0;
                margin: auto;
                font-size: 25px;
            }
            #topBar div#logo h1#title2{
                top: 20px;
                left: 0;
                right: 0;
                margin: auto;
                font-size: 35px;
                padding-left: 10px;
            }
                #topBar div#logo h1#title2 span{
                    font-size: 50px;
                }
    
    #topBar ul#topMenu {
        list-style: none;
        position: absolute;
        bottom: 15px;
        right: 15px;
        margin: auto;
        display: block;
    }
        #topBar ul#topMenu li {
            display: block;
            float: left;
        }
            #topBar ul#topMenu li.topMenuItem {
                font-family: 'Cinzel', serif;
                color: #cccc66;
                font-size: 20px;
                padding: 0 4px;
                border-bottom: 1px solid #AA4;
                border-right: 1px solid #AA4;
                -webkit-border-radius: 6px;
                -moz-border-radius: 6px;
                border-radius: 6px;
            }
            #topBar ul#topMenu li.topMenuItem.active {
                border-bottom-color: #FF9;
                border-right-color: #FF9;
            }
            #topBar ul#topMenu li.topMenuItem.active a, #topBar ul#topMenu li.topMenuItem:hover a {
                color: #FF9;
            }
            #topBar ul#topMenu li.topMenuItemSpace {
                margin: 0 20px;
                height: 20px;
            }
/* HOME PAGE */

.pageContent div#homeTitle {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 600px;
    height: 250px;
    background-color: #444;
    overflow: hidden;
    clear: both;
}
    .pageContent div#homeTitle h1 {
        display: block;
        position: absolute;
        text-align: center;
    }
        .pageContent div#homeTitle h1#title1 {
            top: 30px;
            left: 0;
            right: 0;
            margin: auto;
            font-size: 45px;
        }
        .pageContent div#homeTitle h1#title2 {
            top: 65px;
            left: 0;
            right: 0;
            margin: auto;
            font-size: 55px;
            padding-left: 16px;
        }
            .pageContent div#homeTitle h1#title2 span {
                font-size: 80px;
            }
            
    .pageContent div#homeTitle div#homeLanguageSelection {
        display: block;
        position: absolute;
        width: 500px;
        height: 40px;
        text-align: center;
        left: 0;
        right: 0;
        bottom: 10px;
        margin: auto;
        overflow: hidden;
        clear: both;
    }
        .pageContent div#homeTitle div#homeLanguageSelection a img{
            height: 40px;
            width: 70px;
            margin: 0 10px;
        }
        
        
/* OTHER PAGES */
.pageContent p {
    padding: 5px 20px;
}
.pageContent p span{
    color: #cccc66;
}

.pageContent#landContent {
/*    min-height: 700px;*/
}

/*GALLERY PAGE*/
.pageContent#galleryContent {
    width: 960px;
    margin: 10px auto;
    position: relative;
    left: 0;
    right: 0;
}
    .pageContent#galleryContent div#galleryWrapper{
        position: relative;
        display: block;
        height: 970px;
        width: 900px;
        margin: 10px auto;
    }
    .pageContent#galleryContent h2{
        display: block;
        height: 30px;
        width: 900px;
        clear: both;
    }
    .pageContent#galleryContent ul.gallery{
        list-style: none;
        margin: 0;
        padding: 0;
        display: block;
        width: 100%;
    }
        .pageContent#galleryContent ul.gallery li{
            display: block;
            margin: 10px;
            float: left;
            width: 130px;
        }
            .pageContent#galleryContent ul.gallery li a img{
                width: 130px;
            }

/*PRODUCTS PAGE*/
.pageContent#productsContent ul {
    list-style: none;
    display: block;
}
.pageContent#productsContent ul li {
    display: block;
}


.pageContent#productsContent ul#productsMenu {
    width: 900px;
    height: 100px;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    color: white;
    overflow: hidden;
}
    .pageContent#productsContent ul#productsMenu li {
        float: left;
        width: 215px;
        height: 80px;
        position: relative;
        text-align: center;
        font-family: 'Cinzel Decorative', cursive;
        font-size: 21px;
        line-height: 26px;
        background-color: #111;
        cursor: pointer;
        padding: 10px 5px 0 5px;
        overflow: hidden;
    }
    .pageContent#productsContent ul#productsMenu li.active, .pageContent#productsContent ul#productsMenu li:hover {
        background-color: #cccc66;
        color: #111;
    }
    
.pageContent#productsContent ul#productsView {
    width: 900px;
    height: 300px;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    color: white;
    overflow: hidden;
}
    .pageContent#productsContent ul#productsView li {
        position: absolute;
        display: none;
        width: 900px;
        height: 300px;
        font-family: 'Playfair Display', serif;
        font-size: 14px;
        overflow: hidden;
    }
    .pageContent#productsContent ul#productsView li.active {
        display: block;
    }
        .pageContent#productsContent ul#productsView li div.title {
            display: block;
            position: absolute;
            top: 0;
            left: 230px;
            width: 900px;
            height: 70px;
        }
            .pageContent#productsContent ul#productsView li div.title h1 {
                font-size: 18px;
                margin-bottom: 5px;
            }
            .pageContent#productsContent ul#productsView li div.title h2 {
                font-size: 13px;
                margin: 0;
            }
            .pageContent#productsContent ul#productsView li div.title h3 {
                font-size: 13px;
                margin: 0;
                padding: 0;
            }
        .pageContent#productsContent ul#productsView li div.image {
            display: block;
            position: absolute;
            top: 0px;
            width: 250px;
            height: 300px;
        }
        .pageContent#productsContent ul#productsView li div.description {
            display: block;
            position: absolute;
            top: 90px;
            left: 260px;
            width: 800px;
            height: 210px;
            font-size: 13px;
        }
        .pageContent#productsContent ul#productsView li div.description strong {
            font-size: 13px;
            color: #cccc66;
            font-weight: normal;
        }